{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/doll.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjmi6TwkrH_AhVXyDgGHSWOCe0QFnoECBwQAQ&url=https%3A%2F%2Fwww.flipkart.com%2Ftoys%2Fdolls-doll-houses%2Fdolls%2Fpr%3Fsid%3Dtng%2Ckks%2Caty&usg=AOvVaw3ktNSGYXQAJ629WRV7UM8k" class="btn btn-primary">about doll</a>
        </div>
      </div>
</body>
</html>